#center {
    text-align: center;
}

h3 {
    font-size: 60px;
}

#num {
    font-size: 100px;
}

#ans,
#dart {
    font-size: 30pt;
}

#button_area {
    min-width: fit-content;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.div_button {
    display: flex;
    justify-content: space-between;
}

.button {
    flex-grow: 1;
    width: 100%;
    display: inline-block;
    /* 角丸       */
    border-radius: 5%;
    /* 文字サイズ */
    font-size: 30pt;
    /* 文字位置   */
    text-align: center;
    /* カーソル   */
    cursor: pointer;
    /* 余白       */
    padding: 12px 12px;
    /* 背景色     */
    background: #436bb5;
    /* 文字色     */
    color: #ffffff;
    /* 1行の高さ  */
    line-height: 3em;
    /* 枠の指定 */
    border: 1px solid #ffffff;
}

.check_out {
    display: none;
}

#label_out {
    font-size: 30pt;
    margin-right: 10px;
    margin-left: 10px;
    color: #6b6b6b;
    user-select: none;
}