button {
    width: 30px;
    margin-right: 2px;
    -webkit-appearance: none;
}

#center {
    text-align: center;
}

#rand {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    -webkit-appearance: none;
}
