#center {
    margin-top: 50px;
    text-align: center;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

#middle {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#message {
    font-size: 50px;
    color: #c40404;
    margin: 0px 0px 20px 0px;
    height: 60px;
    display: block;
}

#num {
    font-size: 100px;
    text-align: center;
}

.result {
    text-align: left;
}

.rst {
    width: 75px;
    text-align: right;
}

.result_row {
    margin-right: 80px;
    display: inline-block;
    width: fit-content;
    border: solid #929292;
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rst,
.result {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.result_div {
    text-align: right;
    position: absolute;
    right: 0;
}

#button_start {
    text-align: center;
    position: absolute;
    right: 0;
}

#ans,
#dart {
    display: flex;
    justify-content: center;
}

.recommend {
    font-size: 25px;
    margin: 5px;
    padding: 10px 0px 10px 0px;
    border: 5px solid #fce092;
    height: 30px;
    width: 100px;
}

.round {
    font-size: 40px;
    margin: 5px;
    padding: 10px 0px 10px 0px;
    background-color: #dfdfdf;
    height: 50px;
    width: 150px;
}

#button_area {
    min-width: fit-content;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.div_button {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.button {
    flex-grow: 1;
    width: 100%;
    display: inline-block;
    /* 文字サイズ */
    font-size: 30pt;
    /* 文字位置   */
    text-align: center;
    /* カーソル   */
    cursor: pointer;
    /* 余白       */
    padding: 12px 12px;
    /* 文字色     */
    color: #000000;
    /* 1行の高さ  */
    line-height: 3em;
    /* 枠の指定 */
    border: 1px solid #6b6b6b;
}

#button_start {
    font-size: 25pt;
    padding: 5px;
    width: 130px;
    background-color: #ebebeb;
    margin-right: 80px;
    border: 1px solid #6b6b6b;
}

.check_out {
    display: none;
}

#label_out {
    font-size: 25pt;
    margin-top: 10px;
    color: #6b6b6b;
    user-select: none;
}